<!DOCTYPE html>

<html>
    <head>
        <title>Hva som kunne skjedd</title>
        <link rel="stylesheet" href="../static/melding.css">
    </head>
    
    <body>
        <div class="grid-container1">
            <div class="grid-item">
                <img src="../static/images/tangen_vgs.png" class="logo">
            </div>
        </div>

        <div class="grid-container3">
            <div class="grid-item">
                
                <a href="/du-har-blitt-lurt" class="button">Hjem</a>
                <a href="/tips" class="button">Tips til å unngå svindel</a>
                <a href="/hva-vi-kunne-gjort" class="button">Ting som kunne bli tatt fra deg</a>
                <a href="/info-phishing" class="button">Hva er phishing?</a>
                
            </div>
        </div>
        
        <div class="grid-container2">
            <div class="grid-item">

                <div class="grid-container2">
                    <div class="grid-item">
                        <h1>Dette er ting som vi kunne tatt fra deg.</h1>
                    </div>
                </div>

                <div class="grid-container2">
                    <div class="grid-item">
                
                        <p>Det vi kunne ha gjort er å bedt deg skrive inn din epost og passord, men første gang du hadde skrevet inn passordet kunne du fått opp en feil melding som hadde bett deg om å skrive det på nytt.</p>
                        <img src="../static/images/telefon_innlogging.png" id="scam">
                        <p>Når du da hadde skrevet passordet for andre gang hadde du fått det samme.</p>
                        <p>Den fjerde gangen kanskje så kunne det hendt at det hadde funket, men allerede da hadde vi fått inn din epost og fire forskjellige typer passord du normalt bruker.</p>
                        <p>Dette er ting vi kunne ha brukt informasjonen din til:</p>
                        <img src="../static/images/logg_inn.png" id="scam"> 
                        <p>Gå til de andre sidene får tips om phishing</p>   
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>