<!DOCTYPE html>

<html>
    <head>
        <title>Du har blitt lurt!</title>
        <link rel="stylesheet" href="../static/melding.css">
    </head>
    
    <body>
        <div class="grid-container1">
            <div class="grid-item">
                <img src="../static/images/tangen_vgs.png" class="logo">
            </div>
        </div>
    
        <div class="grid-container3">
            <div class="grid-item">
                
                <a href="/du-har-blitt-lurt" class="button">Hjem</a>
                <a href="/tips" class="button">Tips til å unngå svindel</a>
                <a href="/hva-vi-kunne-gjort" class="button">Ting som kunne bli tatt fra deg</a>
                <a href="/info-phishing" class="button">Hva er phishing?</a>
                
            </div>
        </div>
        
        <div class="grid-container2">
            <div class="grid-item">
                <h1>VÆR MER OPPMERKSOM!</h1>
                <h1>DU HAR BLITT LURT!</h1>

                
                <p>Dette er et sosialt eksperiment laget av elever på Tangen Videregående skole. 
                    Vi ønsker kun å påpeke hvor lett "phishing" er, skaden av det, og veivise hvordan unngå dette. Ingen data har faktisk blitt tatt fra deg.</p>
                <p>Vi anbefaler å sjekke gjennom sidene for å minske sjansen for å falle for phishing, for det vil
                    alltid komme uforventet.</p>  

                    
    
                
            </div>
        </div>        
    </body>
</html>
