<!DOCTYPE html>

<html>
    <head>
        <title>Hvordan oppdage et phishing forsøk?</title>
        <link rel="stylesheet" href="../static/melding.css">
        <meta charset="UTF-8">
    </head>

    <body>
        <div class="grid-container1">
            <div class="grid-item">
                <img src="../static/images/tangen_vgs.png" class="logo">
            </div>
        </div>

        <div class="grid-container3">
            <div class="grid-item">
                
                <a href="/du-har-blitt-lurt" class="button">Hjem</a>
                <a href="/tips" class="button">Tips til å unngå svindel</a>
                <a href="/hva-vi-kunne-gjort" class="button">Ting som kunne bli tatt fra deg</a>
                <a href="/info-phishing" class="button">Hva er phishing?</a>
                
            </div>
        </div>
        
        <div class="grid-container2">
            <div class="grid-item">


                <h1>Hvordan unngå en "phishing" svindel?</h1>
                <p>Phishing i denne formen er enkel å unngå. Du må egentlig bare</p>
                
                <h2>1. Sjekk nettadressen (URL)</h2>
                <p>Phishing-nettsider har ofte lignende, men ikke identiske, URL-er til ekte nettsteder. Pass på disse tegnene:</p>
                <ul>
                    <li>Sjekk for skrivefeil i nettadressen.</li>
                    <li>Vær forsiktig med unormalt lange eller kompliserte URL-er.</li>
                    <li>Sjekk at nettadressen begynner med "https://" for sikre nettsteder.</li>
                    <li>Pass på at domenent</li>
                </ul>
            </div>
        </div>
    </body>
</html>