<!DOCTYPE html>

<html>
    <head>
        <title>Hva er phishing?</title>
        <link rel="stylesheet" href="../static/melding.css">
    </head>
    
    <body>
        <div class="grid-container1">
            <div class="grid-item">
                <img src="../static/images/tangen_vgs.png" class="logo">
            </div>
        </div>
    
        <div class="grid-container3">
            <div class="grid-item">
                
                <a href="/du-har-blitt-lurt" class="button">Hjem</a>
                <a href="/tips" class="button">Tips til å unngå svindel</a>
                <a href="/hva-vi-kunne-gjort" class="button">Ting som kunne bli tatt fra deg</a>
                <a href="/info-phishing" class="button">Hva er phishing?</a>
                
            </div>
        </div>
        
        <div class="grid-container2">
            <div class="grid-item">
                <h1>Hva er Phishing?</h1>
                <h1></h1>

                
                <p>Phishing er en form for svindel hvor angripere forsøker å lure enkeltpersoner til å gi fra seg sensitive personlige eller finansielle opplysninger, for eksempel passord, kredittkortnummer eller bankinformasjon. Dette gjøres vanligvis ved å late som om de representerer en pålitelig kilde, for eksempel en bank, et selskap eller en annen organisasjon.</p>
                <p>Typisk involverer phishing en falsk kommunikasjon, enten via e-post, tekstmeldinger eller falske nettsider, som ser ut til å være autentiske. Målet er å få offeret til å tro at de samhandler med en legitim kilde, og dermed avsløre sensitive opplysninger. Phishing kan også inkludere bruk av skadelig programvare for å stjele informasjon direkte fra offerets enhet.</p>
                <p>Det er viktig å være oppmerksom på mistenkelige meldinger og være forsiktig med å klikke på lenker eller dele personlig informasjon, spesielt hvis det kommer uventet. Ved å være oppmerksom og bruke sikkerhetspraksis online, kan man redusere risikoen for å falle offer for phishingangrep.</p>
                    
    
                
            </div>
        </div>        
    </body>
</html>